<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:aqin1012="http://www.aqin.com/schema/aqin"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
	   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.aqin.com/schema/aqin http://www.aqin.com/schema/aqin.xsd">

	<aqin1012:aqin id="aqin1012" name="heheda~" address="浙江省杭州市"/>
</beans>
